.ipynb_checkpoints/
.vscode/
__pycache__/
.DS_Store
dev/synthesized_audio/
misc/
.idea/

dataset/

# only keep the good soundfonts
soundfonts/all_soundfonts/
soundfonts/sounds/

# test experiments
result/
train_results/
symbolic_train_results/
model/tests/*.html

# plots code 
plots/

#wandb
wandb/

notes.txt

#preprocessed_datasets
preprocessed_infilling_datasets/*/*/*/*.pickle

model/evaluator/