[submodule "src/BaseGrooveTransformers"]
	path = src/BaseGrooveTransformers
	url = git@github.com:behzadhaki/BaseGrooveTransformers.git
[submodule "src/hvo_sequence"]
	path = src/hvo_sequence
	url = git@github.com:behzadhaki/hvo_sequence.git
[submodule "src/GrooveEvaluator"]
	path = src/GrooveEvaluator
	url = git@github.com:behzadhaki/GrooveEvaluator.git
[submodule "src/preprocessed_dataset"]
	path = src/preprocessed_dataset
	url = git@github.com:behzadhaki/preprocessed_dataset.git
