.ipynb_checkpoints/
.vscode/
__pycache__/
.DS_Store
dev/synthesized_audio/
misc/
.idea/



# test experiments
result/
train_results/
symbolic_train_results/
tests/*.html

# plots code 
plots/

#wandb
wandb/

#hpc
hpc/

#datasets and evaluator
datasets/*/*/*/*.pickle
datasets.zip 

evaluators/*/*.pickle
evaluators.zip

# evaluator
evaluator/



notes.txt

dev/
results/
wandb/
tests/*
datasets/

*.Model