.ipynb_checkpoints/
.vscode/
__pycache__/
.DS_Store
dev/synthesized_audio/
misc/
.idea/



# test experiments
result/
train_results/
symbolic_train_results/
tests/*.html

# plots code 
plots/

#wandb
wandb/

#hpc
hpc/

#datasets and evaluator
datasets/*/*/*/*.pickle
datasets.zip 

evaluators/*/*.pickle
evaluators.zip

# evaluator
evaluator/



notes.txt

dev/
results/
wandb/
tests/*
datasets/

/hvo_sequence/soundfonts/
/transformer_run_2y6luo8o_Epoch_150.Model
/transformer_run_3fj68xpy_Epoch_160.Model
/transformer_run_3vfpovvv_Epoch_70.Model
/transformer_run_330gw6v0_Epoch_60.Model
/transformer_run_y16izsyy_Epoch_110.Model
